{% extends 'base.html' %}

{% block meta %}
<title>Dreamscape Corner</title>
{% endblock meta %}

{% block content %}
<h1 style="text-align: center;">Dreamscape Corner</h1>
{% if not products %}
<p>Belum ada produk baru yang tersedia</p>
{% else %}
<table>
    <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price (in Rp)</th>
    <th>Description</th>
    </tr>
    
    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini 
    {% endcomment %} 
    {% for product in products %}
    <tr>
    <td>{{product.name}}</td>
    <td>{{product.category}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
    
<br />
    
<a href="{% url 'main:create_product_entry' %}">
    <button style="background-color:#0e1b4d; color:white">Add New Product</button>
</a>

<p>Dibuat oleh Stefanus Tan Jaya - 2306152456 - PBP D</p>

{% endblock content %}