{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dreamscape Corner</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="flex flex-col min-h-screen bg-[#72c8ff] overflow-hidden">
    <div class="flex-grow px-4 md:px-8 pb-16 pt-24">
        <div class="flex flex-col md:flex-row justify-between items-center mb-8 space-y-4 md:space-y-0">
            <div class="flex rounded-md items-center bg-[#0e1b4d] py-2 px-4 w-fit mb-4 md:mb-0">
                <h1 class="text-white text-center">Last Login: {{ last_login }}</h1>
            </div>

            <div class="flex flex-col space-y-2 md:space-y-2 md:space-x-0 items-center md:items-end">
                <a href="{% url 'main:create_product_entry' %}" class="bg-[#0e1b4d] hover:bg-[#142a6c] text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                    Add New Product
                </a>

                <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="btn bg-[#0e1b4d] hover:bg-[#142a6c] text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" onclick="showModal();">
                    Add New Product by AJAX
                </button>
            </div>
        </div>

        <div class="flex-grow">
            <div id="product_entry_cards"></div>

            <div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
                <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out">
                  
                  <!-- Modal header -->
                  <div class="flex items-center justify-between p-4 border-b rounded-t">
                    <h3 class="text-xl font-semibold text-gray-900" style="font-family: 'Tahoma', sans-serif; color: black;">
                      Add New Product
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </div>
              
                  <!-- Modal body -->
                  <div class="px-6 py-4 space-y-6 form-style">
                    <form id="productEntryForm">
                      
                      <!-- Name Field -->
                      <div class="mb-4">
                        <label for="name" class="block text-sm font-semibold text-black">Product Name</label>
                        <input type="text" id="name" name="name" class="mt-1 block w-full border border-[#0e1b4d] rounded-md p-2 hover:border-[#142a6c]" placeholder="Enter product name" required>
                      </div>
                      
                      <!-- Category Field -->
                      <div class="mb-4">
                        <label for="category" class="block text-sm font-semibold text-black">Category</label>
                        <input type="text" id="category" name="category" class="mt-1 block w-full border border-[#0e1b4d] rounded-md p-2 hover:border-[#142a6c]" placeholder="Enter product category" required>
                      </div>
              
                      <!-- Price Field -->
                      <div class="mb-4">
                        <label for="price" class="block text-sm font-semibold text-black">Price</label>
                        <input type="number" id="price" name="price" class="mt-1 block w-full border border-[#0e1b4d] rounded-md p-2 hover:border-[#142a6c]" placeholder="Enter product price" required>
                      </div>
                      
                      <!-- Description Field -->
                      <div class="mb-4">
                        <label for="description" class="block text-sm font-semibold text-black">Description</label>
                        <textarea id="description" name="description" rows="4" class="mt-1 block w-full border border-[#0e1b4d] rounded-md p-2 hover:border-[#142a6c]" placeholder="Enter product description" required></textarea>
                      </div>
                    </form>
                  </div>
              
                  <!-- Modal footer -->
                  <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
                    <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Cancel</button>
                    <button type="submit" id="submitProductEntry" form="productEntryForm" class="bg-[#0e1b4d] hover:bg-[#142a6c] text-white font-bold py-2 px-4 rounded-lg">Save</button>
                  </div>
              
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-[#0e1b4d] text-white text-center py-4 w-full">
        Made by Stefanus Tan Jaya - 2306152456 - PBP D
    </footer>
</div>

<script>
    async function getProductEntries(){
        return fetch("{% url 'main:show_json' %}").then((res) => res.json())
    }

    async function refreshProductEntries() {
        document.getElementById("product_entry_cards").innerHTML = "";
        document.getElementById("product_entry_cards").className = "";
        const productEntries = await getProductEntries();
        let htmlString = "";
        let classNameString = "";

        if (productEntries.length === 0) {
            classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
            htmlString = `
                <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                    <img src="{% static 'image/belum-isi-product.png' %}" alt="No Products" class="w-40 h-30 mb-4"/>
                    <p class="text-center text-black">Why haven't you added any products yet? ( ｡ •̀ ⤙ •́ ｡ )</p>
                </div>
            `;
        }
        else {
            classNameString = "columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full pb-12"
            productEntries.forEach((item) => {
                const name = DOMPurify.sanitize(item.fields.name);
                const category = DOMPurify.sanitize(item.fields.category);
                const description = DOMPurify.sanitize(item.fields.description);
                htmlString += `
                <div class="relative break-inside-avoid">
                    <div class="absolute top-[0rem] z-10 -left-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-yellow-400" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.69h4.163c.969 0 1.371 1.24.588 1.81l-3.374 2.455a1 1 0 00-.364 1.118l1.286 3.957c.3.921-.755 1.688-1.54 1.118l-3.374-2.454a1 1 0 00-1.176 0l-3.374 2.454c-.784.57-1.838-.197-1.54-1.118l1.286-3.957a1 1 0 00-.364-1.118L2.462 9.384c-.783-.57-.38-1.81.588-1.81h4.163a1 1 0 00.95-.69l1.286-3.957z" />
                        </svg>
                    </div>
                
                    <div class="relative top-5 bg-[#403f3a] shadow-md rounded-lg mb-6 break-inside-avoid flex flex-col transition-transform duration-300 hover:rotate-1">
                    
                        <div class="bg-[#403f3a] text-gray-100 p-4 rounded-t-lg">
                            <h3 class="font-bold text-xl mb-2">${name}</h3>
                            <p class="text-gray-300">Category: ${category}</p>
                            <p class="text-gray-300">Price: Rp ${item.fields.price}</p>
                        </div>
                    
                        <div class="bg-[#e4cc9a] p-4 flex-1">
                            <p class="font-semibold text-lg mb-2">Description</p>
                            <p class="text-gray-700 mb-2 break-words">
                            ${description}
                            </p>
                
                            <div class="flex justify-center space-x-4 mt-4">
                                <a href="/edit-product/${item.pk}" class="bg-[#0e1b4d] hover:bg-[#142a6c] text-white rounded-full p-2 transition duration-300 shadow-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                                    </svg>
                                </a>
                
                                <a href="/delete/${item.pk}" class="bg-red-500 hover:bg-red-600 text-white rounded-full p-2 transition duration-300 shadow-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                `;
            });
        }
        document.getElementById("product_entry_cards").className = classNameString;
        document.getElementById("product_entry_cards").innerHTML = htmlString;
    }
    refreshProductEntries();    

    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    function showModal() {
        const modal = document.getElementById('crudModal');
        const modalContent = document.getElementById('crudModalContent');

        modal.classList.remove('hidden'); 
        setTimeout(() => {
            modalContent.classList.remove('opacity-0', 'scale-95');
            modalContent.classList.add('opacity-100', 'scale-100');
        }, 50); 
    }

    function hideModal() {
        const modal = document.getElementById('crudModal');
        const modalContent = document.getElementById('crudModalContent');

        modalContent.classList.remove('opacity-100', 'scale-100');
        modalContent.classList.add('opacity-0', 'scale-95');

        setTimeout(() => {
            modal.classList.add('hidden');
        }, 150); 
    }

    document.getElementById("cancelButton").addEventListener("click", hideModal);
    document.getElementById("closeModalBtn").addEventListener("click", hideModal);

    function addProductEntry() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#productEntryForm')),
        })
        .then(response => {
            if (response.ok) {
                refreshProductEntries();
                hideModal();
                document.getElementById("productEntryForm").reset();
            } else {
                console.error('Failed to add product');
            }
        })
        .catch(error => console.error('Error:', error));
    }

    document.getElementById("productEntryForm").addEventListener("submit", (e) => {
        e.preventDefault();
        addProductEntry();
    })
</script>

<style>
    body, html {
        height: 100%;
        margin: 0;
    }
    .flex-grow {
        flex-grow: 1;
    }
    footer {
        width: 100%;
        flex-shrink: 0;
    }
    .pb-12 {
        padding-bottom: 3rem;
    }
</style>
{% endblock content %}