{% extends 'base.html' %}

{% block meta %}
<title>Dreamscape Corner: Account Registration</title>
{% endblock meta %}

{% block content %}

<style>
h3 {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0e1b4d;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0e1b4d;
}
</style>

<div class="login">
  <h1 style="text-align: center;">Dreamscape Corner</h1>
  <h3>Please register your account below</h3>

  <form method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input type="submit" name="submit" value="Create" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock content %}